PROJECT_NAME=my-aptos-dapp
NEXT_PUBLIC_APP_NETWORK=testnet
NEXT_PUBLIC_APTOS_API_KEY=""
NEXT_MODULE_PUBLISHER_ACCOUNT_ADDRESS=
#This is the module publisher account's private key. Be cautious about who you share it with, and ensure it is not exposed when deploying your dApp.
NEXT_MODULE_PUBLISHER_ACCOUNT_PRIVATE_KEY=